{% extends 'base.html'%}
    {% block contenido %}
    <section class="buscador">
      <h2>Agenda turno</h2>
      <div class="vista_paciente">
        
        <div class="usuario">
            <h3>Paciente{{ paciente }}</h3> <!--PACIENTE - esto deberia cambiar segun el log in-->
            <h4>DNI: {{ dni }}</h4>     <!--esto deberia cambiar segun el log in-->
        </div>

        {% comment %} Comienzo de especialidad {% endcomment %}
        <div class="especialidad">
          <h6>Selecciona la especialidad:</h6>
          <div class="lista"> 
            <div class="dropdown">
              <button class="dropbtn">especialidad</button>
              <div class="dropdown-content">
                {% for especialidad in especialidades %}
                <a href="#">{{ especialidad }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% comment %} Fin de especialidad {% endcomment %}
        
        {% comment %} Comienzo de Médico {% endcomment %}
        <div class="medico">
          <h6>Selecciona al profesional:<h6>
          <div class="lista"> 
            <div class="dropdown">
              <button class="dropbtn">Profesional</button>
              <div class="dropdown-content">
                {% for medico in lista_medicos %}
                <a href="#">{{ medico.nombre }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% comment %} Fin de Médico {% endcomment %}
        
        {% comment %} Comienzo de día {% endcomment %}
        {% comment %} Comienzo de día {% endcomment %}
        {% comment %} Comienzo de día {% endcomment %}
        <div class="especialidad">
          <h6>Selecciona el día:</h6>
          <div class="lista"> 
            <div class="dropdown">
              <input type="date" name="txtapa" required min="1920-01-01" class="form-control form-control-lg dropbtn" />

            
            </div>
          </div>
        </div>
        {% comment %} Fin de día {% endcomment %}
        {% comment %} Fin de día {% endcomment %}
        {% comment %} Fin de día {% endcomment %}

        
        {% comment %} Comienzo de horario {% endcomment %}
        {% comment %} Comienzo de horario {% endcomment %}
        {% comment %} Comienzo de horario {% endcomment %}
        <div class="especialidad">
          <h6>Selecciona la hora:</h6>
          <div class="lista"> 
            <div class="dropdown">
              <button class="dropbtn">Horario</button>
              <div class="dropdown-content">
                {% for pepe in especialidades %}
                <a href="#">{{ pepe }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% comment %} Fin de horario {% endcomment %}
        {% comment %} Fin de horario {% endcomment %}
        {% comment %} Fin de horario {% endcomment %}
        
        <div class="confirmar">
        <button class="button" type="submit">CONFIRMAR</button></div>
    </div>
</section>
{% endblock %}