.buscador{
    height: fit-content;
    align-items: center;
    object-position: center;
    display: flex;
    flex-direction: column;
}

.vista_paciente{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-style: solid;
    border-color: #818963;
    border-width: 5px;
    font-family: 'Anuphan', sans-serif;
}

.usuario{
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-weight: bolder;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.especialidad{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.medico{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
}
.lista{
    width: 20vw;
    height: 5vh;
    margin: 4px;
    align-items: center;
    justify-content: center;
}

.dropdown {
    width: 20vw;
    font-family: 'Anuphan', sans-serif;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
.dropbtn{
    width: 20vw;
    height: 5vh;
    font-family: 'Anuphan', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 2px;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: auto;
    background-color: rgb(247, 255, 240);
    color: antiquewhite;
    border: gray;
    border-style: solid;
    border-width: 1px;
    align-items: left;
    justify-content: center;
    font-family: 'Anuphan', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 5px;
    text-decoration: none;
    list-style: none;
}

.a{
    text-decoration: none;
    list-style: none;
}
.dropdown-content a{
    display: flex;
    flex-direction: column;
    color: rgb(63, 63, 63);
    align-items: left;
    justify-content: center;
    font-family: 'Anuphan', sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 2px;
    text-decoration: none;
    list-style: none;
}
.dropdown-content a:hover{
    background-color: #818963;
    color: antiquewhite;
}

.fechas{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.calendario{
    width: 50vw;
    height: 40vh;
    align-items: center;
    justify-content: center;
    background-color: #818963;
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  

.confirmar{
    width: 500px;
    display: flex;
    align-items: right;
    justify-content: center;
}

