{% extends 'base.html' %}
{% block contenido %}

<div class="card">
    <div class="card-header">Edicion de turno</div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row mt-3">
                <div class="col-12">
                    <input type="submit" value="Guardar" class="btn btn-success">
                    <button class="btn btn-secondary" onclick="javascript:window.history.go(-1);">Cancelar</button>          
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
