{% extends 'base.html' %}
{% block contenido %}
<div class="card">
    <div class="card-header">Eliminacion de turno</div>
    <div class="card-body">
        <form method="post">{% csrf_token %}
            <p>Esta seguro que quiere eliminar el turno"{{ turno.fecha }}, {{ turno.especialidad }}, {{ turno.paciente }}"?</p>
            <input type="submit" value="Confirmar" class="btn btn-danger">
            <a href="{% url 'turnos_index_view' %}" class="btn btn-secondary">Cancelar</a> >  
        </form>
        
    </div>
</div>
{% endblock %}