{% extends 'base.html' %}

{% comment %} <h1>Eliminar Especialidad</h1>
    <p>¿Estás seguro de que deseas eliminar la especialidad "{{ especialidad.nombre }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>  {% endcomment %}


    {% block contenido %}
    
    
    <div class="card">
        <div class="card-header">Eliminacion de categoría</div>
        <div class="card-body">
            <form method="post">{% csrf_token %}
                <p>Esta seguro que quiere eliminar la categoria "{{ object.nombre }}"?</p>
                {% comment %} <button type="submit">Eliminar</button> {% endcomment %}
                <input type="submit" value="Confirmar" class="btn btn-danger"> 
            </form>
            
        </div>
    </div>
    {% endblock %}   