{% extends 'base.html' %}
{% block contenido %}

<!--Contact form-->
<div style="margin:20px">
  <h1>Contacto</h1>
  <p>Póngase en contacto con nosotros directamente si tiene alguna pregunta.
    Escriba su nombre, dirección de correo electrónico y un mensaje a continuación si tiene alguna pregunta. Uno de los
    miembros de nuestro personal estará encantado de contactarlo directamente y responder sus preguntas lo antes
    posible.
  </p>
  <form id="contact-form" name="contact-form" action="{% url 'contacto' %}" method="POST">
    {% csrf_token %}
    {{ contacto_formulario.as_p }}
    <div class="text-center text-md-left mt-3">
      <button class="btn btn-primary" type="submit">Enviar</button>
    </div>
  </form>
  {{ mensaje }}
</div>

{% endblock %}