<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio de sesión en el sistema de turnos</title>
    <link rel="stylesheet" href="/static/css/reg_usuario_style.css">
</head>
<body>
    <h1>Iniciar sesión</h1>
    <form action="{% url 'registro_usuario' %}" method="post">
        <div class="form-group">
            <label for="dni">D.N.I.:</label>
            <input type="text" id="dni" name="dni" required>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Ingresar</button>
            <button type="submit">Registrarse</button>
        </div> 
    </form>


</body>
</html>