{% extends 'base.html' %} {% block contenido %}

<body>
    <h1>Ficha del Paciente</h1>
    <div class="cubicMaster">
        <div class="cubicOne">
            <form method="get">
                <div class="form-group">
                    <label for="nombre">Nombre: {{context.nombre}}</label>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido: {{apellido}}</label>
                </div>
                <div class="form-group">
                    <label for="dni">D.N.I.: {{dni}}</label>
                </div>
                <div class="form-group">
                    <label for="fechanac"
                        >Fecha de Nacimiento: {{fecha_de_nacimiento}}</label
                    >
                </div>
                <div class="form-group">
                    <label for="obrasocial">Obra Social: {{obra_social}}</label>
                </div>
                <div class="form-group">
                    <label for="telefono"
                        >Teléfono de contacto: {{telefono}}</label
                    >
                </div>
                <div class="form-group">
                    <label for="email">Correo electrónico: {{email}}</label>
                </div>
                <div class="form-group">
                    <button type="submit">Salir</button>
                </div>
            </form>
        </div>

        <div class="cubicOne">
            <h1>Búsqueda</h1>
            <form action="" method="post">
                <div class="form-group">
                    <label for="nombre">Nombre del doctor:</label>
                    <input type="text" id="nombre" name="nombre" required />
                </div>
                <div class="form-group">
                    <label for="apellido">Especialidad:</label>
                    <input type="text" id="apellido" name="apellido" required />
                </div>
                <div class="form-group">
                    <button type="button" onclick="filtrado()">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="cubicFind">
        <h1>Resultados</h1>
        {% for medico in busqueda %}
        <form action="{% url 'registro_usuario' %}" method="post">
            <div class="form-group">
                <label for="nombre">Nombre del doctor: {{nombre_del_doctor}}</label>
            </div>
            <div class="form-group">
                <label for="apellido">Especialidad: {{especialidad}}</label>
            </div>
            <div class="form-group">
                <button type="submit">Buscar turno</button>
            </div>
        </form>
        {% endfor %}
    </div>
</body>

{% endblock %}
